@page "/policy/aeddefibrilator"

<div class="text-start">
    <h1 class="display-6 mb-4 ms-2">Zásady ochrany osobních údajů aplikace Defibrilátor Lifeline AED</h1>

    <div class="container text-start">
        <div class="mb-3">
            Tato stránka slouží k informování návštěvníků o zásadách při shromažďování, používání a zpřístupňování osobních údajů, pokud se někdo rozhodne využít naší služby.
        </div>
        <div class="fw-bold">Sběr a použití informací</div>
        <ul>
            <li>
                Aplikace nijak nevyžaduje osobní údaje uživatele, aplikace je plně funkční bez nutnosti přihlášení.
            </li>
            <li>
                Aplikace používá služby třetích stran, které mohou shromažďovat informace používané k identifikaci Vás.
            </li>
            <li>
                Odkazy na zásady ochrany osobních údajů poskytovatelů služeb třetích stran, které aplikace používá: <a href="https://www.google.com/policies/privacy/">Google Play Services</a>
            </li>
        </ul>
        <div class="fw-bold">Data protokolů</div>
        <ul>
            <li>
                V případě výskytu chyby v aplikaci shromažďujeme data a informace (prostřednictvím produktů třetích stran) v datovém protokolu. Tato data mohou obsahovat informace, jako je IP adresa vašeho zařízení, název zařízení, verze operačního systému, konfigurace aplikace při využívání naší služby, čas a datum vašeho používání služby a další statistiky.
            </li>
        </ul>
        <div class="fw-bold">Cookies</div>
        <ul>
            <li>
                Soubory cookie jsou soubory s malým množstvím dat, které se běžně používají jako anonymní jedinečné identifikátory. Ty jsou zasílány do vašeho prohlížeče z webových stránek, které jste navštívili, a jsou uloženy v interním paměti přístroje.
            </li>
            <li>
                Tato služba tyto "cookies" výslovně nepoužívá. Aplikace však může používat kódy a knihovny třetích stran, které používají "soubory cookie" pro shromažďování informací a zlepšení svých služeb. Máte možnost kdykoli tyto soubory cookie přijmout nebo odmítnout a zjistit, kdy je soubor cookie odeslán do vašeho zařízení. Pokud vybíráte naše cookies, možná nebudete moci používat některé části této služby.
            </li>
        </ul>
        <div class="fw-bold">Bezpečnost</div>
        <ul>
            <li>
                Oceňujeme vaši důvěru, a proto se snažíme používat komerčně dostupné prostředky k jejich ochraně. Nezapomeňte však, že žádný způsob přenosu informací přes internet nebo způsob elektronického ukládání dat není 100% bezpečný a spolehlivý a nemůžeme zaručit absolutní bezpečnost.
            </li>
        </ul>
        <div class="fw-bold">Odkazy na jiné weby</div>
        <ul>
            <li>
                Tato služba může obsahovat odkazy na jiné weby. Pokud kliknete na odkaz třetí strany, budete přesměrováni na tento web. Mějte na paměti, že tyto externí weby nejsou provozovány od nás. Proto doporučujeme přezkoumat zásady ochrany osobních údajů těchto webových stránek. Nemáme žádnou kontrolu a nepřebíráme žádnou zodpovědnost za obsah, zásady ochrany osobních údajů nebo praktiky třetích stran či služeb.
            </li>
        </ul>
    </div>

</div>