@page "/policy/shadowsclient"


<div class="text-start">
    <h1 class="display-6 mb-4 ms-2">Zásady ochrany osobních údajů aplikace Stíny nad pevninou</h1>

    <div class="container text-start">
        <div>
            Tato stránka informuje uživatele o zásadách ochrany osobních údajů aplikace Stíny nad pevninou.
        </div>
        <div class="mb-3">
            Poslední aktualizace: 12. 5. 2026
        </div>
        <div class="fw-bold">Sběr a použití informací</div>
        <ul>
            <li>
                Aplikace nevyžaduje zadávání běžných osobních údajů, jako je jméno, adresa nebo telefonní číslo.
            </li>
            <li>
                Uživatel nemá možnost si sám založit účet, ten je mu přidělen správcem aplikace. Bez tohoto účtu není možné aplikaci využívat.
            </li>
            <li>
                Aplikace může ukládat přihlašovací údaje a dočasná data do lokálního úložiště zařízení.
            </li>
            <li>
                V případě technické chyby však mohou být automaticky zpracována technická diagnostická data (např. IP adresa, typ zařízení nebo verze systému) prostřednictvím služeb třetích stran.
            </li>
            <li>
                Odkazy na zásady ochrany osobních údajů poskytovatelů služeb třetích stran, které aplikace používá: <a href="https://www.google.com/policies/privacy/" target="_blank" rel="noopener noreferrer">Google Play Services</a>
            </li>
        </ul>
        <div class="fw-bold">Bezpečnost</div>
        <ul>
            <li>
                Bezpečnost dat bereme vážně a používáme běžně dostupné prostředky k jejich ochraně. Přesto žádný způsob elektronického přenosu nebo ukládání dat není zcela bezpečný a nemůžeme zaručit absolutní zabezpečení.
            </li>
        </ul>
        <div class="fw-bold">Odkazy na jiné weby</div>
        <ul>
            <li>
                Tato aplikace obsahuje odkazy na jiné weby. Pokud kliknete na odkaz třetí strany, budete přesměrováni na tento web. Mějte na paměti, že tyto externí weby nejsou provozovány námi. Proto doporučujeme přezkoumat zásady ochrany osobních údajů těchto webových stránek. Nemáme žádnou kontrolu a neneseme žádnou zodpovědnost za obsah, zásady ochrany osobních údajů nebo praktiky třetích stran či služeb.
            </li>
        </ul>
        <div class="fw-bold">Kontakt</div>
        <ul>
            <li>
                Kontaktní email: <span>mkopecky&#46;dev</span>&#64;<span>email&#46;cz</span>
            </li>
        </ul>
    </div>

</div>