@page "/webtest"

<h3>Web Test</h3>

<iframe src="https://mkopecky.dev/test/" height="500" width="400"></iframe>
<br />
<iframe src="https://training-app.aedline.cz/" height="500" width="400"></iframe>

@code {

}
