@using Kopec.Web.Model
@inherits LayoutComponentBase

<div class="shadow-sm mb-3">
    <div class="container">
        <NavMenu></NavMenu>
    </div>
</div>

<main>
    <div class="container mb-4">
        @Body
    </div>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
