<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <div class="align-middle">
            <img src="img/logo.png" alt="K" height="40" class="me-2 align-middle" />
            <NavLink class="navbar-brand align-middle" href="/home">Michal Kopecký</NavLink>
        </div>
        <button class="navbar-toggler align-middle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-middle" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/home">Vývoj aplikací</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/reference">Reference</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/apps">Aplikace</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/contact">Kontakt</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
